<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Karla|Roboto|Viga" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <title>Marbot</title>
  </head>
  <body>
    
    <!-- awal navbar -->
    <header>
      <nav class="navbar navbar-expand-md navbar-dark">
          <div class="container-fluid">
              <a class="navbar-brand" href="#">Marbot</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          </div>
        </nav>
    </header>
    <!-- akhir navbar -->

    <!-- jumbotron -->
    <div class="jumbotron jumbotron-fluid">
    
    </div>
    <!-- akhir jumbotron -->   
     <section class="awal">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-10 info-panel">
            <div class="row">
              <div class="col-lg">
                <a href="https://github.com/mjterrs20" target="_blank" rel="noopener noreferrer">
                  <img src="{{ url_for('static',filename='img/github.svg')}}" alt="foto" class="float-left">
                 <h4>Source Code</h4>
                  <p>Anda bisa mengembangkan Marbot lebih baik lagi</p>
                </a>
              </div>
              <div class="col-lg"> 
                <a href="https://drive.google.com/file/d/1YOTsQ_fEbCIwFJ_IabrOyvrGaWdPOVVH/view?usp=sharing" target="_blank" rel="noopener noreferrer">
                  <img src="{{ url_for('static',filename='img/android.svg')}}" alt="foto" class="float-left">
                  <h4>Aplikasi</h4>
                  <p>Download Marbot beri kesan pertama anda</p>
                </a>
              </div>
              <div class="col-lg">
                <a href="https://drive.google.com/file/d/11646PlKzVBQLpZLXZ45sG-mmpGYHa8rV/view?usp=sharing" target="_blank" rel="noopener noreferrer">
                  <img src="{{ url_for('static',filename='img/csv.svg')}}" alt="foto" class="float-left">
                  <h4>Dataset</h4>
                  <p>Berisi list pertanyaan yang telah disesuaikan</p>
                </a> 
              </div>
            </div>
          </div>
        </div>
  
        <div class="row about">
          <div class="col-lg-6">
            <img src="{{ url_for('static',filename='img/mar.png')}}" alt="tentang" class="img-fluid">
          </div>
          <div class="col-lg-6 tentang">
              <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat molestias adipisci ratione!</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eligendi earum rerum obcaecati qui, cumque quam! Officia cupiditate beatae quas ipsum repellat, in suscipit molestiae culpa eius expedita eligendi corporis fugit labore, modi dolor praesentium facilis laboriosam. Harum dolores laudantium, rem temporibus accusamus, dolor, dolorem libero itaque officiis blanditiis eligendi!</p>
              <a href="#" class="btn btn-full">Tentang Kami</a>
            </div>
        </div>
  
      </div>
    </section>
  </body>
</html>